<%- include('../layouts/admin_header.ejs') %>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Category</h2>
        <div>
            <a href="/category/add_category" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> 
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>ABOUT</th>
                            <th>List / Unlist</th>
                            <th class="text-center">Edit / Delete</th>  
                        </tr>
                    </thead>
                        <tbody>
                            <% categories.forEach(category => { %>
                                
                            <tr>
                                <td><%= category.name %></td>  
                                <td> <%= category.description %></td>
                                <td>
                                    <% if(category.isListed) {%>
                                    <span class="badge rounded-pill alert-success">Listed</span>
                                    <% } %>
                                    <% if(!category.isListed) {%>
                                    <span class="badge rounded-pill alert-danger">Unlisted</span>
                                    <% } %>
                                </td>
                                <td class= "text-center">
                                    <a href="/category/edit_category/<%= category._id %>" class="btn btn-outline-primary">
                                        <i class="fas fa-edit"></i> edit
                                    </a>
                                    <button type="submit" class="btn <% if(category.isListed) {%> btn-outline-success <% } if(!category.isListed) {%> btn-outline-danger<% } %>" onclick="confirmDelete('<%= category._id%>','<%= category.isListed %>')">
                                        <i class="fas <% if(category.isListed) {%>fa-trash<% } if(!category.isListed) {%> fa-undo<% } %>"></i>
                                    </button>
                                    <form id="deleteForm<%= category._id %>" action="<% if(category.isListed) {%>/category/block_category/<%= category._id %><% } if(!category.isListed) {%>/category/unblock_category/<%= category._id %><% } %>" method="post" style="display:none;">
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                </table>
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
   
</section> <!-- content-main end// -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmDelete(categoryId, isListed) {
        const action = isListed === 'true' ? 'delete' : 'restore';
        Swal.fire({
            title: `Are you sure you want to ${action} this category?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            customClass: {
                title: 'swal-title',
                htmlContainer: 'swal-text',
                confirmButton: 'swal-confirm-button',
                cancelButton: 'swal-cancel-button',
            },
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById(`deleteForm${categoryId}`).submit();
            }
        });
    }
</script>
<style>
    
    .swal2-title, .swal2-html-container {
        color: #333 !important; 
    }
    .swal2-confirm, .swal2-cancel {
        color: #fff !important; 
    }
    .swal2-confirm {
        background-color: #3085d6 !important; 
    }
    .swal2-cancel {
        background-color: #d33 !important; 
    }

    .table td.text-center .btn {
        margin: 2px;
        padding: 6px 12px;
        font-size: 14px;
    }

    .table th.text-center, .table td.text-center {
        text-align: center;
    }
</style>
<%- include('../layouts/admin_footer.ejs') %>