<%- include('../layouts/admin_header.ejs') %>
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users list</h2>
        
    </div>
    <div class="card mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sl number</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% user.forEach((user,index)=>{ %>
                       <tr>
                        <td> <%= index +1 %></td>
                       
                        <td><%= user.firstname %></td>
                        
                        <td><%= user.email %></td>
                        

                        <td>
                           <% if(user.block){ %>
                            <span class="badge rounded-pill alert-danger"> Inactive </span>
                            <% } %>
                            <% if(user.block == false){ %>
                            <span class="badge rounded-pill alert-success"> Active</span>
                            <% } %>
                            
                            
                        <td class="text-end">                                
                            <form <% if(user.block) {%> action="/admin/customer/unblock/<%= user._id %>" <% } %>
                                <% if(!user.block) {%> action="/admin/customer/block/<%= user._id %>" <% } %> 
                                method="post" <% if(!user.block) {%>onsubmit="return confirm('Are you sure you want to block this user?');"<% } %>
                                <%if(user.block) {%> onsubmit="return confirm('Are you sure you want to restore this user?')"<% } %>>
                                
                                <button type="submit" class="btn btn-sm <% if(!user.block) {%> btn-danger<% } %> <% if(user.block) {%> btn-success<% } %> rounded font-sm mt-15">
                                   <% if(user.block) {%>Restore<% } %><% if(!user.block) {%>Block<% } %>
                                </button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                       
                    </tbody>
                </table>
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
   
</section> <!-- content-main end// -->
<%- include('../layouts/admin_footer.ejs') %>