<%- include('../layouts/admin_header.ejs') %>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Edit Category</h2>
        <div>
            <a href="/category/" class="btn btn-light rounded btn-sm"><i class="fas fa-arrow-left"></i> Back to categories</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" action="/category/edit_category/<%= category._id %>" class="col-md-8 mx-auto" onsubmit="return validateForm()">
                
                <div class="mb-4 text-center">
                    <label for="name" class="form-label">Category Name</label>
                    <input type="text" name="name" id="name" value="<%= category.name %>" placeholder="Category Name" class="form-control">
                    <div id="name-error" class="text-danger" style="display: none;">Category name is required.</div>
                </div>

                <div class="mb-4 text-center">
                    <label for="description" class="form-label">Category Description</label>
                    <input type="text" name="description" id="description" value="<%= category.description %>" placeholder="Category Description" class="form-control">
                    <div id="description-error" class="text-danger" style="display: none;">Category description is required.</div>
                </div>

                <div>
                    <button <% if(category.offerAmount<=0) {%>disabled<% } %> id="remove-btn" onclick="removeOffer(event,'<%=category._id%>')">Remove Offer</button>
                </div>
                <br>

                
                <div class="row">
                    <% categoryOffer.forEach((item) => {%> 


                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="<%= item.imageUrl %>" class="card-img-top" alt="<%= item.name %>">
                                <div class="card-body">
                                    <h5 class="card-title"><%= item.name %></h5>
                                    <p class="card-text"><strong>Offer percentage:<%= item.discountPercentage%></strong></p>
                                    <p class="card-text"><strong>Offer from :<%= item.startDate %></strong></p>
                                    <p class="card-text"><strong>Offer Expires :<%= item.expiryData %></strong></p>
                                    <p class="card-text"><strong>Description:<%= item.description %></strong></p>

                                    <button <% if(category.offerAmount>0) {%>disabled<% } %> id="apply-offer" class="offer-btn" type="button" onclick="applycoupen(event, '<%= item._id %>','<%= category._id %>')">Apply Offer</button>
                                </div>
                            </div>
                        </div>
                        
                    <%  }) %>
                </div>  
                

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Update Category</button>
                </div>
            </form>
        </div>
    </div>
</section>

<%- include('../layouts/admin_footer.ejs') %>

<script>






async function removeOffer(event, category_id) {
        console.log('clicked');
        event.preventDefault();
        event.stopPropagation();
    
        try {
            // Swal.fire({
            //     title: 'Loading...',
            //     text: 'Please wait while we process your request.',
            //     allowOutsideClick: false, // Prevent closing on outside click
            //     didOpen: () => {
            //         Swal.showLoading();
            //     }
            // });
    
            const response = await fetch('/category/delete_offer', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ category_id})
            });
    
    
            const data = await response.json();
           if(data.success){
            Swal.fire({
                title: 'Success',
                text: 'Offer removed successfully!',
                icon: 'success',
                allowOutsideClick: false,
            });
           

            document.getElementById('apply-offer').disabled = false
            document.getElementById('remove-btn').disabled = true
    //     const buttons = document.querySelectorAll('.offer-btn');
    
    // // Disable all buttons
    // buttons.forEach(button => {
    //     button.disabled=true ;
    // });
           }  else{
            Swal.fire({
                title: 'Error',
                text: data.message||'Offer removed successfully!',
                icon: 'error',
                allowOutsideClick: false,
            });
           }
    
           
            
           
        } catch (error) {
            Swal.fire({
                title: 'Error',
                text: error||'Offer removed successfully!',
                icon: 'error',
                allowOutsideClick: false,
            });
        }
    }




async function applycoupen(event, categoryOfferId,categoryId) {
    event.preventDefault(); // Prevent the default behavior (not needed for type="button")
    console.log('Coupon button is applying for category ID:', categoryOfferId);
    const response = await fetch('/category/applyCoupen',{
        method:'post',
        headers:{
            'Content-Type':'application/json'
        },
        body:JSON.stringify({categoryOfferId,categoryId})
    })
    console.log('response error')
    console.log(response)
    const data = await response.json()
    console.log(data)
    // const offerAmount = data.offerDiscount
    if(data.success){
    console.log('offer iss',data.success)

    document.getElementById('apply-offer').disabled = false
    document.getElementById('remove-btn').disabled = false

    // const buttons = document.querySelectorAll('.offer-btn');
    
    // // Disable all buttons
    // buttons.forEach(button => {
    //     button.disabled= true;
    // });

    
        console.log('applied')
        Swal.fire({
                title: 'Success',
                text: 'Offer applied successfully!',
                icon: 'success',
                allowOutsideClick: false,
            });
    }else{
        Swal.fire({
                title: 'Error',
                text: data.message||'Offer Failed!',
                icon: 'error',
                allowOutsideClick: false,
            });
    }
    
}










// .........VALIDATION.............////
    function validateForm() {
        // Get input values
        const name = document.getElementById('name').value.trim();
        const description = document.getElementById('description').value.trim();
        
        let isValid = true;

        // Validate Category Name
        if (name === "") {
            document.getElementById('name-error').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('name-error').style.display = 'none';
        }

        // Validate Category Description
        if (description === "") {
            document.getElementById('description-error').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('description-error').style.display = 'none';
        }

        return isValid; // Only submit if the form is valid
    }
</script>
