<%- include("../layouts/user_header.ejs") %>
    <main class="main">
        <!-- Main banner -->
        
        <div class="container mt-4">
            <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/newfile/Axor banner.jpg" class="d-block w-100" alt="Slide 1">
                        <div class="carousel-caption d-none d-md-block">
                       
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/newfile/Axor banner.jpg" class="d-block w-100" alt="Slide 2">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/newfile/Axor banner.jpg" class="d-block w-100" alt="Slide 3">
                        <div class="carousel-caption d-none d-md-block">
                           
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
       


       


        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row product-grid-4">
                    <% product.forEach((product, index) => { %>
                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="/productPage/<%= product._id %>">
                                        <% if (product.product_image.length > 0) { %>
                                            
                                            <img class="default-img img-fluid" src="/newfile/<%= product.product_image[0] %>" alt="<%= product.product_name %>">
                                        
                                            <% if (product.product_image.length > 1) { %>
                                                <img class="hover-img img-fluid" src="/newfile/<%= product.product_image[1] %>" alt="<%= product.product_name %>">
                                            <% } %>
                                        <% } %>
                                    </a>
                                </div>
                              
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="/"><%= product.product_category.name %></a>
                                </div>
                                <h2><a href="/productPage/<%= product._id %>"><%= product.product_name %></a></h2>
                                <div class="rating-result">
                                    <span>
                                        <span></span>
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span> <%= product.product_sale_price.toLocaleString('en-In') %> </span>
                                    <span class="old-price">₹ <%= product.product_regular_price.toLocaleString('en-IN') %></span>
                                </div>
                                <!-- <div class="product-action-1 show">
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="/cart_page"><i class="fi-rs-shopping-bag-add"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <!--End product-grid-4-->
            </div>
        </section>
        
        
        <div class="container d-flex justify-content-center">
            <div class="mb">
            </div>
        </div>
        

       <%- include("../layouts/user_footer.ejs") %>